body {
  font-family: "TTLakes", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 0;
}

button:hover {
  opacity: 0.5;
}

.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  z-index: 800;
  overflow-y: auto;
  gap: 32px;
  background-color: #ffffff;
  box-shadow: 16px 0px 52px 0px rgba(0, 0, 0, 0.2);
}

.burger-menu__top {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.burger-menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18.59px 16px 0px 16px;
}

.burger-menu__header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.burger-menu__header__left__icons {
  padding: 0;
}

.burger-menu__header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.button_highlight {
  opacity: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 12px;
}

.list__button_active {
  color: #7e7e82;
}

a {
  text-decoration: none;
  color: #1b1c21;
}

.language {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.language_active {
  color: #7e7e82;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.contacts__icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.contacts__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts_mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.contacts_tel {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 0px 0px 32px 16px;
}
.hidden-menu {
  display: none;
}

.overlay-burger {
  z-index: 700;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 96.05%;
}

.overlay {
  z-index: 901;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 96.05%;
}
.feedback-menu,
.call-menu {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 360px;
  height: 100vh;
  z-index: 1000;
  transform: translateX(0%);
  background-color: #ffffff;
  border-left: 1px #d9fff5 solid;
  box-shadow: 16px 0px 52px 0px #0e185033;
}

.hidden__feedback {
  display: none;
}
.hidden__call {
  display: none;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.overlay__hidden {
  display: none;
}

.overlay-burger__hidden {
  display: none;
}

.feedback-menu__header,
.call-menu__header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.feedback-menu__header_text,
.call-menu__header_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.feedback__close,
.call__close {
  padding: 24px 0px 32px 16px;
}
.feedback-menu__header_text,
.call-menu__header_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.feedback-form,
.call-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px 16px 16px;
  box-sizing: border-box;
}

.input-text,
.message {
  border: 1px solid #eaeaea;
  font-family: "TT Lakes";
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.message {
  height: 86px;
  resize: none;
  overflow: auto;
}
.message::placeholder {
  color: #b5b6bc;
}
.feedback-menu__footer_text,
.call-menu__footer_text {
  padding: 0px 16px 18px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}

.input-text::placeholder {
  color: #b5b6bc;
}

.feedback-send,
.call-send {
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

@media (min-width: 360px) {
  .burger-menu {
    width: 360px;
  }
  .list__button {
    gap: 20px;
  }
  .bottom {
    padding-left: 24px;
  }
}

@media (min-width: 768px) {
  .list {
    gap: 32px;
  }

  .bottom {
    gap: 40px;
  }
  .burger-menu__header {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1120px) {
  .burger-menu {
    z-index: 800;
    display: flex;
    position: fixed;
    min-width: 320px;
    max-width: 320px;
    box-shadow: none;
  }

  .close__menu {
    display: none;
  }

  .feedback-menu,
  .call-menu {
    max-width: 440px;
  }

  .feedback__close,
  .call__close {
    padding: 0;
  }

  .feedback-menu__header,
  .call-menu__header {
    flex-direction: row;
    margin-left: -73px;
    gap: 32px;
    align-items: center;
    padding: 32px 0px 0px 0px;
  }

  .call-menu__header_text,
  .feedback-menu__header_text {
    gap: 30px;
  }

  .call-form,
  .feedback-form {
    padding: 24px 32px 24px 32px;
  }

  .call-menu__footer_text,
  .feedback-menu__footer_text {
    padding: 0px 32px 23px 32px;
  }

  .feedback_close {
    position: absolute;
  }
  .desctop_button {
    opacity: 100%;
  }
  .desctop_list {
    color: #7e7e82;
  }
  .button_active_highlight {
    opacity: 0;
  }
  .list__button_active {
    color: #1b1c21;
  }
}
